---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1alpha1.{{ .Values.groupName }}
  labels:
    app: {{ include "exoscale-webhook.name" . }}
    chart: {{ include "exoscale-webhook.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
  annotations:
    {{- with .Values.annotations }}
{{- toYaml . | nindent 4 }}
    {{- end }}
    cert-manager.io/inject-ca-from: "{{ .Release.Namespace }}/{{ include "exoscale-webhook.servingCertificate" . }}"
spec:
  group: {{ .Values.groupName }}
  groupPriorityMinimum: 1000
  versionPriority: 15
  service:
    name: {{ include "exoscale-webhook.fullname" . }}
    namespace: {{ .Release.Namespace }}
  version: v1alpha1
